<!DOCTYPE html>
<html>
<head>
    <title>GPA Data Presentation</title>
</head>
<body>
    <h1>GPA Data</h1>
    <table>
        <thead>
            <tr>
                <th>GPA Group</th>
                <th>Freshman Male</th>
                <th>Freshman Female</th>
                <th>Freshman Total</th>
                <th>Sophomore Male</th>
                <th>Sophomore Female</th>
                <th>Sophomore Total</th>
                <th>Junior Male</th>
                <th>Junior Female</th>
                <th>Junior Total</th>
                <th>Senior Male</th>
                <th>Senior Female</th>
                <th>Senior Total</th>
            </tr>
        </thead>
        <tbody>
            {% for data in gpa_data %}
            <tr>
                <td>{{ data.gpa_group }}</td>
                <td>{{ data.freshman_male }}</td>
                <td>{{ data.freshman_female }}</td>
                <td>{{ data.freshman_total }}</td>
                <td>{{ data.sophomore_male }}</td>
                <td>{{ data.sophomore_female }}</td>
                <td>{{ data.sophomore_total }}</td>
                <td>{{ data.junior_male }}</td>
                <td>{{ data.junior_female }}</td>
                <td>{{ data.junior_total }}</td>
                <td>{{ data.senior_male }}</td>
                <td>{{ data.senior_female }}</td>
                <td>{{ data.senior_total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>